@media only screen and (min-width: 900px) {

  .container {
    max-width: 1100px;
  }

/**
* #######################################
* ### NAVIGATION ELEMENT
*/
    .navigation-logo {
      display: block;
      width: auto;
      margin: 0;
    }
    .navigation-menu--li {
      display: inline-block;
      width: auto;
      min-width: 100px;
      border-top: 0px;
      font-size: 16px;
      position: relative;
      padding: 10px;
    }
    .navigation-menu--a {
        color: #222;
        font-weight: bold;
        display: block;
        width: 100%;
        padding: 5px;
      }
    [class^="navigation-menu__i"]::after {
        content: "";
        border: solid lightgrey;
        border-width: 0 2px 2px 0;
        display: inline-block;
        margin-left: 8px;
        padding: 4px;
      }
      .navigation-menu__subnav-content--active {
        position: absolute;
      }
      .navigation-menu__subnav-li {
        display: block;
        position: relative;
        min-width: 130px;
        z-index: 1;
        border-top: 0px;
        border-bottom: 1px solid #000;
      }
      .navigation-menu__subnav-content--a {
        color: #222;
        display: block;
        font-weight: bold;
        padding: 15px;
        background-color: #CCCCCC;
      }

/**
* #######################################
* ### SLIDER
*/
   [class*="slider-content__image"] {
      width: 100%;
    }
     .slider-content-next_prev {
      top: 40%;
    }
    .slider-content-text{
      display: block;
      font-size: 18px;
    }

/**
* #######################################
* ### DESTINATION
*/
   [class*="destination-content__container"] {
      display: block;
    }
      .destination-content-image {
        width: auto;
        height: auto;
      }
      .destination-content-text {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 5px;
      }

/**
* #######################################
* ### COLUMS AND ROWS SYSTEM
*/
  .row {
    display: block;
    width: 100%;
  }
  [class*="col-"] {
    float: left;
    padding: 10px;
  }
  [class*="col-offset-"] {
    float: right;
  }
  .col-1, .col-offset-1 {
    width: 8.33%;
  }
  .col-2, .col-offset-2 {
    width: 16.66%;
  }
  .col-3, .col-offset-3 {
    width: 25%;
  }
  .col-4, .col-offset-4 {
    width: 33.33%;
  }
  .col-5, .col-offset-5 {
    width: 41.66%;
  }
  .col-6, .col-offset-6 {
    width: 50%;
  }
  .col-7, .col-offset-7 {
    width: 58.33%;
  }
  .col-8, .col-offset-8 {
    width: 66.66%;
  }
  .col-9, .col-offset-9 {
    width: 75%;
  }
  .col-10, .col-offset-10 {
    width: 83.33%;
  }
  .col-11, .col-offset-11 {
    width: 91.66%;
  }
  .col-12, .col-offset-12 {
    width: 100%;
  }
}